/*.bg_height{*/
/*    height: 60px;*/
/*}*/
.bg_color{
    background: #eeeaea;
}
.border-rounded{
    margin-top: 10px;
    height: 25px;
    width: 25px;
    border-radius: 100px;

}
.logo{
    height: 25px;
    width: 25px;
}
.sidebar{
    width: 240px;
    height: 1200px;
}
.left-to-right{
    margin-left: 40px;
}
.bottum{
    margin-top: -20px;
}

.delete-btn{
    margin-left: 120px;
}
.bg-height{
    height: 800px;
}
